<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Score #<%= @score.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/scores" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/scores/<%= @score.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit score
        </a>
      </div>

      <div class="col">
        <a href="/delete_score/<%= @score.id %>" class="btn btn-block btn-outline-secondary">
          Delete score
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Total score
      </dt>
      <dd>
        <%= @score.total_score %>
      </dd>

      <dt>
        Question types
      </dt>
      <dd>
        <%= @score.question_types %>
      </dd>

      <dt>
        Response times
      </dt>
      <dd>
        <%= @score.response_times %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <% if @score.setting.present? %>
          <a href="/settings/<%= @score.setting_id %>">
            <%= @score.setting.owner_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@score.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@score.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

