<h1>
  Edit setting #<%= @setting.id %>
</h1>

<hr>

<form action="/update_setting/<%= @setting.id %>" method="post">


  <div class="form-group">
    <label for="upper_digit_limit">
      Upper digit limit
    </label>

    <input type="text" id="upper_digit_limit" name="upper_digit_limit" class="form-control" value="<%= @setting.upper_digit_limit %>">
  </div>

  <div class="form-group">
    <label for="lower_digit_limit">
      Lower digit limit
    </label>

    <input type="text" id="lower_digit_limit" name="lower_digit_limit" class="form-control" value="<%= @setting.lower_digit_limit %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="multiplication">
    <input id="multiplication" class="form-check-input" name="multiplication" type="checkbox" value="1" <%= "checked" if @setting.multiplication %>>
    <label for="multiplication" class="form-check-label">
      Multiplication
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="addition">
    <input id="addition" class="form-check-input" name="addition" type="checkbox" value="1" <%= "checked" if @setting.addition %>>
    <label for="addition" class="form-check-label">
      Addition
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="division">
    <input id="division" class="form-check-input" name="division" type="checkbox" value="1" <%= "checked" if @setting.division %>>
    <label for="division" class="form-check-label">
      Division
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="subtraction">
    <input id="subtraction" class="form-check-input" name="subtraction" type="checkbox" value="1" <%= "checked" if @setting.subtraction %>>
    <label for="subtraction" class="form-check-label">
      Subtraction
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update setting
  </button>
</form>

<hr>

<a href="/settings">
  Go back
</a>
