<% if @setting.present? %>
  <% if @setting.errors.any? %>
    <% @setting.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new setting
</h1>


<hr>

<form action="/create_setting" method="post">

  <input type="hidden" name="owner_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="upper_digit_limit">
      Upper digit limit
    </label>

    <input type="text" id="upper_digit_limit" name="upper_digit_limit" class="form-control" value="<%= @setting.upper_digit_limit %>">
  </div>

  <div class="form-group">
    <label for="lower_digit_limit">
      Lower digit limit
    </label>

    <input type="text" id="lower_digit_limit" name="lower_digit_limit" class="form-control" value="<%= @setting.lower_digit_limit %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="multiplication">
    <input id="multiplication" class="form-check-input" name="multiplication" type="checkbox" <%= "checked" if @setting.multiplication %>>
    <label for="multiplication" class="form-check-label">
      Multiplication
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="addition">
    <input id="addition" class="form-check-input" name="addition" type="checkbox" <%= "checked" if @setting.addition %>>
    <label for="addition" class="form-check-label">
      Addition
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="division">
    <input id="division" class="form-check-input" name="division" type="checkbox" <%= "checked" if @setting.division %>>
    <label for="division" class="form-check-label">
      Division
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="subtraction">
    <input id="subtraction" class="form-check-input" name="subtraction" type="checkbox" <%= "checked" if @setting.subtraction %>>
    <label for="subtraction" class="form-check-label">
      Subtraction
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create setting
  </button>
</form>

<hr>

<a href="/settings">
  Go back
</a>
