<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Setting #<%= @setting.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/settings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @setting.owner %>
          <a href="/settings/<%= @setting.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit setting
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @setting.owner %>
          <a href="/delete_setting/<%= @setting.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete setting
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <% if @setting.owner.present? %>
          <a href="/users/<%= @setting.owner_id %>">
            <%= @setting.owner.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Upper digit limit
      </dt>
      <dd>
        <%= @setting.upper_digit_limit %>
      </dd>

      <dt>
        Lower digit limit
      </dt>
      <dd>
        <%= @setting.lower_digit_limit %>
      </dd>

      <dt>
        Multiplication
      </dt>
      <dd>
        <%= @setting.multiplication %>
      </dd>

      <dt>
        Addition
      </dt>
      <dd>
        <%= @setting.addition %>
      </dd>

      <dt>
        Division
      </dt>
      <dd>
        <%= @setting.division %>
      </dd>

      <dt>
        Subtraction
      </dt>
      <dd>
        <%= @setting.subtraction %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@setting.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@setting.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "setting_templates/setting_scores" %>
  </div>
</div>
