<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Setting #<%= @setting.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/settings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link setting start -->
      <div class="col">
        <% if current_user == @setting.owner %>
          <a href="/settings/<%= @setting.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit setting
          </a>
        <% end %>
      </div>
      <!-- Edit link setting end -->

      <!-- Delete link setting start -->
      <div class="col">
        <% if current_user == @setting.owner %>
          <a href="/delete_setting/<%= @setting.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete setting
          </a>
        <% end %>
      </div>
      <!-- Delete link setting end -->
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <!-- Display owner_id start -->
      <dd>
        <% if @setting.owner.present? %>
          <a href="/users/<%= @setting.owner_id %>">
            <%= @setting.owner.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display owner_id end -->

      <dt>
        Upper digit limit
      </dt>
      <!-- Display upper_digit_limit start -->
      <dd>
        <%= @setting.upper_digit_limit %>
      </dd>
      <!-- Display upper_digit_limit end -->

      <dt>
        Lower digit limit
      </dt>
      <!-- Display lower_digit_limit start -->
      <dd>
        <%= @setting.lower_digit_limit %>
      </dd>
      <!-- Display lower_digit_limit end -->

      <dt>
        Multiplication
      </dt>
      <!-- Display multiplication start -->
      <dd>
        <%= @setting.multiplication %>
      </dd>
      <!-- Display multiplication end -->

      <dt>
        Addition
      </dt>
      <!-- Display addition start -->
      <dd>
        <%= @setting.addition %>
      </dd>
      <!-- Display addition end -->

      <dt>
        Division
      </dt>
      <!-- Display division start -->
      <dd>
        <%= @setting.division %>
      </dd>
      <!-- Display division end -->

      <dt>
        Subtraction
      </dt>
      <!-- Display subtraction start -->
      <dd>
        <%= @setting.subtraction %>
      </dd>
      <!-- Display subtraction end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@setting.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@setting.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "setting_templates/setting_scores" %>
  </div>
</div>
<!-- Show Page Customization end -->
